* {
    font-family: "Microsoft YaHei", yaHei;
}
fieldset {
    width: 1200px;
    margin: 0 auto;
    border-radius: 15px;
}
.grade {
    float: left;
    margin-left: 100px;
}
.select {
    float: left;
    margin-left: 100px;
}
#city-select {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ffffff;
    outline: none;
    width: 110px;
    line-height: 25px;
    margin-top: 10px;
    padding: 0 30px;
    font-size: .75rem;
    letter-spacing: 10px;
}
#aqi-chart-wrap {
    position: relative;
    width: 1200px;
    height: 600px;
    margin: 50px auto;
    box-shadow: 0px 0px 5px #999999;
    border-radius: 15px;
    overflow: hidden;
}
@keyframes heightAnim {
    0% {
        bottom: -300px;
    }
    100% {
        bottom: 0;
    }

}
.aqi-bar {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    animation: heightAnim .5s ease-in-out;
}
label {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
}
label span {
    display: block;
    text-align: center;
    line-height: 50px;
    border: 1px solid #16324a;
    border-radius: 50%;
    cursor: pointer;
}
label input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.selected {
    background-color: #16324a;
    color: white;
}
.aqi-hint {
    position: absolute;
    display: none;
    width: 120px;
    border: 1px solid #16324a;
    background-color: white;
    z-index: 999;
    font-size: .75rem;
    line-height: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #dddddd;
    opacity: .8;
}
.show + div {
    display: block;
}
.title {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 10px;
}
